body {
    background-color: #F2F2F2;
    font-family: "Helvetica", "Arial", sans-serifnote-item;

}

.spacer{
    height: 200px;
}
.main{
    height: 400px;
    width: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
    padding: 40px;
}

.disabled {
    opacity: 0.3;
}


nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-family: Helvetica;
    font-size: 30px;
    color: #162D3D;
    line-height: 36px;
    float: left;
}
li:hover { 
cursor: pointer; }



.util{
    float: right;
}


ul{
    margin-bottom: 0;
}

.spacer-mid{
height: 20px;
width: 100%;
}


.inactive{
    font-size: 30px;
    color: #DFE5EB;
    line-height: 36px;
}

.note-list{
    height: 320px;
    overflow-y: scroll;
}

p.note-item
{
font-size: 18px;
color: #32536A;
line-height: 24px;
padding: 20px 0 20px 0;
margin:0;
width: 590px;
display: flex;
}

p.note-item:hover, p:hover, a:hover {
   color: #000000;
    cursor: pointer;
}

div.note-block{
border-bottom: 1px solid #DFE5EB;
display: flex;
    margin-right: 20px;
}

.copy-button{
    display: flex;
    align-self: center;
    align-content: flex-end;
    width:60px;
    height:24px;
    background:white;
    border:1px solid #32536A;
    border-radius: 4px;
    color:#32536A;
    z-index: 999;
    text-align: center;
    margin-right:30px;
}

.copy-button:hover{
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor:pointer;
}
.close-button{
    display: flex;
    align-self: center;
    align-content: flex-end;
    width: 10px;
    height: 10px;
    background: url(d1dde290550e1c872c0c04b976f8a9c6.svg) no-repeat;
}
.close-button:hover {
    background: url(e3f403338638b4d1a6d399c919450456.png) no-repeat;
    cursor: pointer;
}

.switch-input {
    display: none;
  }
  .switch-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 16px;
    padding: 0px 0 0px 44px;
  }
  .switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
  }
  .switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  }
  .switch-label .toggle--on {
    display: none;
  }
  .switch-label .toggle--off {
    display: inline-block;
  }
  .switch-input:checked + .switch-label:before {
    background-color: #C1E4FE;
  }
  .switch-input:checked + .switch-label:after {
    background-color: #4EB7F5;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
  }
  .switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
  }
  .switch-input:checked + .switch-label .toggle--off {
    display: none;
  }

  input[type="checkbox"]{
      display: none;
  }

  .switch-label{
      margin: 0;
  }

.note-list::-webkit-scrollbar {
    width: 4px;
}
 
 
.note-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}